.flag {
  background-repeat:no-repeat;
  display: inline-block;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  width: 17px;
  height: 12px;
  background-position: top left;
  box-shadow: 0 0 0 1px rgb(200,200,200);
  background-image: url('final_sprite_flags.png');
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('final_flag_spriteX2.png');
    background-size: 17px 3048px;
  }
}
.flag--AD { background-position: 0 0; } 
.flag--AE { background-position: 0 -12px; } 
.flag--AF { background-position: 0 -24px; } 
.flag--AG { background-position: 0 -36px; } 
.flag--AI { background-position: 0 -48px; } 
.flag--AL { background-position: 0 -60px; } 
.flag--AM { background-position: 0 -72px; } 
.flag--AO { background-position: 0 -84px; } 
.flag--AR { background-position: 0 -96px; } 
.flag--AS { background-position: 0 -108px; } 
.flag--AT { background-position: 0 -120px; } 
.flag--AU { background-position: 0 -132px; } 
.flag--AW { background-position: 0 -144px; } 
.flag--AX { background-position: 0 -156px; } 
.flag--AZ { background-position: 0 -168px; } 
.flag--BA { background-position: 0 -180px; } 
.flag--BB { background-position: 0 -192px; } 
.flag--BD { background-position: 0 -204px; } 
.flag--BE { background-position: 0 -216px; } 
.flag--BF { background-position: 0 -228px; } 
.flag--BG { background-position: 0 -240px; } 
.flag--BH { background-position: 0 -252px; } 
.flag--BI { background-position: 0 -264px; } 
.flag--BJ { background-position: 0 -276px; } 
.flag--BL { background-position: 0 -288px; } 
.flag--BM { background-position: 0 -300px; } 
.flag--BN { background-position: 0 -312px; } 
.flag--BO { background-position: 0 -324px; } 
.flag--BR { background-position: 0 -336px; } 
.flag--BS { background-position: 0 -348px; } 
.flag--BT { background-position: 0 -360px; } 
.flag--BV { background-position: 0 -372px; } 
.flag--BW { background-position: 0 -384px; } 
.flag--BY { background-position: 0 -396px; } 
.flag--BZ { background-position: 0 -408px; } 
.flag--CA { background-position: 0 -420px; } 
.flag--CC { background-position: 0 -432px; } 
.flag--CD { background-position: 0 -444px; } 
.flag--CF { background-position: 0 -456px; } 
.flag--CG { background-position: 0 -468px; } 
.flag--CH { background-position: 0 -480px; } 
.flag--CI { background-position: 0 -492px; } 
.flag--CK { background-position: 0 -504px; } 
.flag--CL { background-position: 0 -516px; } 
.flag--CM { background-position: 0 -528px; } 
.flag--CN { background-position: 0 -540px; } 
.flag--CO { background-position: 0 -552px; } 
.flag--CR { background-position: 0 -564px; } 
.flag--CU { background-position: 0 -576px; } 
.flag--CV { background-position: 0 -588px; } 
.flag--CW { background-position: 0 -600px; } 
.flag--CX { background-position: 0 -612px; } 
.flag--CY { background-position: 0 -624px; } 
.flag--CZ { background-position: 0 -636px; } 
.flag--DE { background-position: 0 -648px; } 
.flag--DJ { background-position: 0 -660px; } 
.flag--DK { background-position: 0 -672px; } 
.flag--DM { background-position: 0 -684px; } 
.flag--DO { background-position: 0 -696px; } 
.flag--DZ { background-position: 0 -708px; } 
.flag--EC { background-position: 0 -720px; } 
.flag--EE { background-position: 0 -732px; } 
.flag--EG { background-position: 0 -744px; } 
.flag--ER { background-position: 0 -756px; } 
.flag--ES { background-position: 0 -768px; } 
.flag--ET { background-position: 0 -780px; } 
.flag--EU { background-position: 0 -792px; } 
.flag--FI { background-position: 0 -804px; } 
.flag--FJ { background-position: 0 -816px; } 
.flag--FK { background-position: 0 -828px; } 
.flag--FM { background-position: 0 -840px; } 
.flag--FO { background-position: 0 -852px; } 
.flag--FR { background-position: 0 -864px; } 
.flag--GA { background-position: 0 -876px; } 
.flag--GB-ENG { background-position: 0 -888px; } 
.flag--GB-NIR { background-position: 0 -900px; } 
.flag--GB-SCT { background-position: 0 -912px; } 
.flag--GB-WLS { background-position: 0 -924px; } 
.flag--GB-ZET { background-position: 0 -936px; } 
.flag--GB { background-position: 0 -948px; } 
.flag--GD { background-position: 0 -960px; } 
.flag--GE { background-position: 0 -972px; } 
.flag--GF { background-position: 0 -984px; } 
.flag--GG { background-position: 0 -996px; } 
.flag--GH { background-position: 0 -1008px; } 
.flag--GI { background-position: 0 -1020px; } 
.flag--GL { background-position: 0 -1032px; } 
.flag--GM { background-position: 0 -1044px; } 
.flag--GN { background-position: 0 -1056px; } 
.flag--GP { background-position: 0 -1068px; } 
.flag--GQ { background-position: 0 -1080px; } 
.flag--GR { background-position: 0 -1092px; } 
.flag--GS { background-position: 0 -1104px; } 
.flag--GT { background-position: 0 -1116px; } 
.flag--GU { background-position: 0 -1128px; } 
.flag--GW { background-position: 0 -1140px; } 
.flag--GY { background-position: 0 -1152px; } 
.flag--HK { background-position: 0 -1164px; } 
.flag--HM { background-position: 0 -1176px; } 
.flag--HN { background-position: 0 -1188px; } 
.flag--HR { background-position: 0 -1200px; } 
.flag--HT { background-position: 0 -1212px; } 
.flag--HU { background-position: 0 -1224px; } 
.flag--ID { background-position: 0 -1236px; } 
.flag--IE { background-position: 0 -1248px; } 
.flag--IL { background-position: 0 -1260px; } 
.flag--IM { background-position: 0 -1272px; } 
.flag--IN { background-position: 0 -1284px; } 
.flag--IO { background-position: 0 -1296px; } 
.flag--IQ { background-position: 0 -1308px; } 
.flag--IR { background-position: 0 -1320px; } 
.flag--IS { background-position: 0 -1332px; } 
.flag--IT { background-position: 0 -1344px; } 
.flag--JE { background-position: 0 -1356px; } 
.flag--JM { background-position: 0 -1368px; } 
.flag--JO { background-position: 0 -1380px; } 
.flag--JP { background-position: 0 -1392px; } 
.flag--KE { background-position: 0 -1404px; } 
.flag--KG { background-position: 0 -1416px; } 
.flag--KH { background-position: 0 -1428px; } 
.flag--KI { background-position: 0 -1440px; } 
.flag--KM { background-position: 0 -1452px; } 
.flag--KN { background-position: 0 -1464px; } 
.flag--KP { background-position: 0 -1476px; } 
.flag--KR { background-position: 0 -1488px; } 
.flag--KW { background-position: 0 -1500px; } 
.flag--KY { background-position: 0 -1512px; } 
.flag--KZ { background-position: 0 -1524px; } 
.flag--LA { background-position: 0 -1536px; } 
.flag--LB { background-position: 0 -1548px; } 
.flag--LC { background-position: 0 -1560px; } 
.flag--LI { background-position: 0 -1572px; } 
.flag--LK { background-position: 0 -1584px; } 
.flag--LR { background-position: 0 -1596px; } 
.flag--LS { background-position: 0 -1608px; } 
.flag--LT { background-position: 0 -1620px; } 
.flag--LU { background-position: 0 -1632px; } 
.flag--LV { background-position: 0 -1644px; } 
.flag--LY { background-position: 0 -1656px; } 
.flag--MA { background-position: 0 -1668px; } 
.flag--MC { background-position: 0 -1680px; } 
.flag--MD { background-position: 0 -1692px; } 
.flag--ME { background-position: 0 -1704px; } 
.flag--MF { background-position: 0 -1716px; } 
.flag--MG { background-position: 0 -1728px; } 
.flag--MH { background-position: 0 -1740px; } 
.flag--MK { background-position: 0 -1752px; } 
.flag--ML { background-position: 0 -1764px; } 
.flag--MM { background-position: 0 -1776px; } 
.flag--MN { background-position: 0 -1788px; } 
.flag--MO { background-position: 0 -1800px; } 
.flag--MP { background-position: 0 -1812px; } 
.flag--MQ { background-position: 0 -1824px; } 
.flag--MR { background-position: 0 -1836px; } 
.flag--MS { background-position: 0 -1848px; } 
.flag--MT { background-position: 0 -1860px; } 
.flag--MU { background-position: 0 -1872px; } 
.flag--MV { background-position: 0 -1884px; } 
.flag--MW { background-position: 0 -1896px; } 
.flag--MX { background-position: 0 -1908px; } 
.flag--MY { background-position: 0 -1920px; } 
.flag--MZ { background-position: 0 -1932px; } 
.flag--NA { background-position: 0 -1944px; } 
.flag--NC { background-position: 0 -1956px; } 
.flag--NE { background-position: 0 -1968px; } 
.flag--NF { background-position: 0 -1980px; } 
.flag--NG { background-position: 0 -1992px; } 
.flag--NI { background-position: 0 -2004px; } 
.flag--NL { background-position: 0 -2016px; } 
.flag--NO { background-position: 0 -2028px; } 
.flag--NP { background-position: 0 -2040px; } 
.flag--NR { background-position: 0 -2052px; } 
.flag--NU { background-position: 0 -2064px; } 
.flag--NZ { background-position: 0 -2076px; } 
.flag--OM { background-position: 0 -2088px; } 
.flag--PA { background-position: 0 -2100px; } 
.flag--PE { background-position: 0 -2112px; } 
.flag--PF { background-position: 0 -2124px; } 
.flag--PG { background-position: 0 -2136px; } 
.flag--PH { background-position: 0 -2148px; } 
.flag--PK { background-position: 0 -2160px; } 
.flag--PL { background-position: 0 -2172px; } 
.flag--PM { background-position: 0 -2184px; } 
.flag--PN { background-position: 0 -2196px; } 
.flag--PR { background-position: 0 -2208px; } 
.flag--PS { background-position: 0 -2220px; } 
.flag--PT { background-position: 0 -2232px; } 
.flag--PW { background-position: 0 -2244px; } 
.flag--PY { background-position: 0 -2256px; } 
.flag--QA { background-position: 0 -2268px; } 
.flag--RE { background-position: 0 -2280px; } 
.flag--RO { background-position: 0 -2292px; } 
.flag--RS { background-position: 0 -2304px; } 
.flag--RU { background-position: 0 -2316px; } 
.flag--RW { background-position: 0 -2328px; } 
.flag--SA { background-position: 0 -2340px; } 
.flag--SB { background-position: 0 -2352px; } 
.flag--SC { background-position: 0 -2364px; } 
.flag--SD { background-position: 0 -2376px; } 
.flag--SE { background-position: 0 -2388px; } 
.flag--SG { background-position: 0 -2400px; } 
.flag--SH { background-position: 0 -2412px; } 
.flag--SI { background-position: 0 -2424px; } 
.flag--SJ { background-position: 0 -2436px; } 
.flag--SK { background-position: 0 -2448px; } 
.flag--SL { background-position: 0 -2460px; } 
.flag--SM { background-position: 0 -2472px; } 
.flag--SN { background-position: 0 -2484px; } 
.flag--SO { background-position: 0 -2496px; } 
.flag--SR { background-position: 0 -2508px; } 
.flag--SS { background-position: 0 -2520px; } 
.flag--ST { background-position: 0 -2532px; } 
.flag--SV { background-position: 0 -2544px; } 
.flag--SX { background-position: 0 -2556px; } 
.flag--SY { background-position: 0 -2568px; } 
.flag--SZ { background-position: 0 -2580px; } 
.flag--TC { background-position: 0 -2592px; } 
.flag--TD { background-position: 0 -2604px; } 
.flag--TF { background-position: 0 -2616px; } 
.flag--TG { background-position: 0 -2628px; } 
.flag--TH { background-position: 0 -2640px; } 
.flag--TJ { background-position: 0 -2652px; } 
.flag--TK { background-position: 0 -2664px; } 
.flag--TL { background-position: 0 -2676px; } 
.flag--TM { background-position: 0 -2688px; } 
.flag--TN { background-position: 0 -2700px; } 
.flag--TO { background-position: 0 -2712px; } 
.flag--TR { background-position: 0 -2724px; } 
.flag--TT { background-position: 0 -2736px; } 
.flag--TV { background-position: 0 -2748px; } 
.flag--TW { background-position: 0 -2760px; } 
.flag--TZ { background-position: 0 -2772px; } 
.flag--UA { background-position: 0 -2784px; } 
.flag--UG { background-position: 0 -2796px; } 
.flag--UM { background-position: 0 -2808px; } 
.flag--US-CA { background-position: 0 -2820px; } 
.flag--US { background-position: 0 -2832px; } 
.flag--UY { background-position: 0 -2844px; } 
.flag--UZ { background-position: 0 -2856px; } 
.flag--VA { background-position: 0 -2868px; } 
.flag--VC { background-position: 0 -2880px; } 
.flag--VE { background-position: 0 -2892px; } 
.flag--VG { background-position: 0 -2904px; } 
.flag--VI { background-position: 0 -2916px; } 
.flag--VN { background-position: 0 -2928px; } 
.flag--VU { background-position: 0 -2940px; } 
.flag--WF { background-position: 0 -2952px; } 
.flag--WS { background-position: 0 -2964px; } 
.flag--XK { background-position: 0 -2976px; } 
.flag--YE { background-position: 0 -2988px; } 
.flag--YT { background-position: 0 -3000px; } 
.flag--ZA { background-position: 0 -3012px; } 
.flag--ZM { background-position: 0 -3024px; } 
.flag--ZW { background-position: 0 -3036px; } 